<div class="container">
    <h1>THÊM MÓN ĂN</h1>
    <form method="POST" action="/admin/foodlist/store">
        <div class="form-group">
            <label for="name">Tên món ăn: </label>
            <input type="text" class="form-control" id="name" name="name" />
        </div>
        <div class="form-group">
            <label for="description">Mô tả: </label>
            <input type="text" class="form-control" id="description" name="description" />
        </div>
        <div class="form-group">
            <label for="image">Hình ảnh: </label>
            <input type="text" class="form-control" id="image" name="image" />
        </div>
        <div class="form-group">
            <label for="price">Giá: </label>
            <input type="text" class="form-control" id="price" name="price" />
        </div>

        <button type="submit" class="btn btn-primary">Thêm món ăn</button>
    </form>
</div>