<div class="form_top">
    <h3 class="delivery_title mb-2">Giao hàng tới</h3>
    <div class="form-group">
        <label for="inputFullname"><span>Họ và tên <i class="text-danger">*</i></span></label>
        <input type="text" name="name" id="inputFullname" class="form-control" placeholder="Họ và tên" value="">
    </div>
    <div class="form-group">
        <label for="inputPhone"><span>Điện thoại <i class="text-danger">*</i></span></label>
        <input type="text" name="phone" id="inputPhone" maxlength="10" class="form-control" placeholder="Điện thoại"
            value="">
    </div>
    <div class="form-group">
        <label for="inputEmail"><span>Email <i class="text-danger">*</i></span></label>
        <input type="text" name="email" id="inputEmail" class="form-control" placeholder="Email" value="">
    </div>
    <div class="form-group">
        <label for="inputCity"><span>Tỉnh/Thành Phố <i class="text-danger">*</i></span></label>
        <input type="text" name="City" id="inputCity" class="form-control" placeholder="Tỉnh/Thành Phố" value="">
    </div>
    <div class="form-group">
        <label for="inputDistrict"><span>Phường/Xã <i class="text-danger">*</i></span></label>
        <input type="text" name="District" id="inputDistrict" class="form-control" placeholder="Phường/Xã" value="">
    </div>
    <div class="form-group">
        <label for="inputAddress"><span>Địa chỉ (Số nhà - Tên đường) <i class="text-danger">*</i></span></label>
        <input type="text" name="address" id="inputAddress" class="form-control"
            placeholder="Địa chỉ (Số nhà - Tên đường)">
    </div>
    <div class="form-group">
        <center>
            <button style=" width: 100%;" type="submit" id="submit-address" class="btn btn-danger btn-lg">TIẾP
                TỤC</button>
        </center>
    </div>
</div>

<form action="/order/payment" id="order-payment" ></form>
<script src="../js/address.js"></script>

<script>
    
    document.addEventListener('DOMContentLoaded', function () {
        var btnSubmitAddress = document.getElementById('submit-address');
        var formOrderPayment = document.getElementById('order-payment');
        btnSubmitAddress.onclick = function () {
            var inputFullname = $('input#inputFullname').val();
            var inputPhone = $('input#inputPhone').val();
            var inputEmail = $('input#inputEmail').val();
            var inputCity = $('input#inputCity').val();
            var inputDistrict = $('input#inputDistrict').val();
            var inputAddress = $('input#inputAddress').val();
            var address = createAddress(inputFullname, inputPhone, inputEmail, inputCity, inputDistrict, inputAddress);
            saveAddress(address);
            formOrderPayment.submit();
        }
    })
</script>