<div class="tks_title">
    <span>CẢM ƠN!</span>BẠN ĐÃ ĐẶT HÀNG THÀNH CÔNG
</div>
<div class="row no-gutters align-items-center mt-4 mb-4">
    <div class="col-12 col-lg-4 text-center pr-3">
        <img src="../img/order-completion.jpg">
    </div>
    <div class="col-12 col-lg-8">
        <div class="tks_info">
            <p>Mã đơn hàng của bạn <span>#<strong>097916965</strong></span></p>
            <p class="mt-2">
                Bạn có thể xem chi tiết tại
                <br><a href="#"><strong><u>lịch sử giao dịch</u></strong></a>
            </p>
            <p class="mt-2">Thông tin về đơn hàng sẽ được gửi về địa chỉ email:
                <strong>phamdaiminh456@gmail.com</strong>
            </p>
            <p>Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất.</p>
        </div>
    </div>
</div>