<div class="container">
    <div class="store">
        <center>THÊM MÓN MỚI THÀNH CÔNG</center>
        <a href="/admin/foodtypelist"><button class="btn btn-danger">QUAY VỀ DANH SÁCH</button></a>
    </div>
</div>