html, body {
    font-weight: 400;
    color: #707070;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 4px;
}

.card {
    width: 260px;
    height: 360px;
    margin-bottom: 20px;
}

.card-img-top {
    height: 155px;
}

.card-button {
    padding: 10px 20px;
}

.main-sidebar {
    position: absolute;
    top: 20px;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
}

ul {
    list-style: none;
}

a.menu-function-admin{
    color: red;
    text-decoration: none;
}

a.menu-function-admin:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.content-wrapper, .right-side, .main-footer {
    margin-left: 230px;
    height: 800px;
    background-color: #ecf0f5;
    z-index: 820;
}

.content {
    min-height: 180px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.content-header {
    background: transparent;
    position: relative;
    padding: 15px 15px 0 15px;
}

.content-header > .breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 1px 1px #707070;
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.box-body {
    padding: 10px;
}