html, body {
    font-weight: 400;
    color: #707070;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 4px;
}

.card {
    width: 260px;
    height: 360px;
    margin-bottom: 20px;
}

.card-img-top {
    height: 155px;
}

.card-button {
    padding: 10px 20px;
}