.box_pro_detail .nav_menu_header {
    font-size: 1.333333333333333em;
    color: rgb(228, 0, 43);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    padding-left: 0;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 1em;
    font-size: 3.333333333333333em;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
}