<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <center><h1>ĐĂNG NHẬP <i class="fas fa-sign-in-alt"></i></h1></center>
            <form action="/login" method="POST">
                <div class="mb-3 row">
                    <div class="col-sm-1"></div>

                    <label for="numberPhone" class="col-sm-3 col-form-label"><Center>Số điện thoại</Center></label>
                    <div class="col-sm-6">
                        <input type="text" name="numberPhone" class="form-control" id="numberPhone">
                    </div>

                    <div class="col-sm-2"></div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-1"></div>

                    <label for="inputPassword" class="col-sm-3 col-form-label"><Center>PIN</Center></label>
                    <div class="col-sm-6">
                        <input type="password" name="password" class="form-control" id="inputPassword">
                    </div>

                    <div class="col-sm-2"></div>
                </div>
                <center><button type="submit" class="btn btn-primary">Đăng nhập</button></center>
            </form>
            <hr>
            <div>
                <center>
                    <span>Bạn chưa có tài khoản ? </span>
                    <a href="/signup">Đăng Ký</a>
                </center>
            </div>
        </div>

        <div class="col-3"></div>
    </div>
</div>