<script src="../js/cart.js"></script>

<div class="container">
    <div class="bg-white">
        <div class="row sticky-top">
            {{>nav-bar}}
        </div>
        <div class="cart-content">
            <center>
                <h1><i class="fas fa-cart-arrow-down"></i> GIỎ HÀNG CỦA BẠN</h1>
            </center>
            <br>
            <br>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-8">
                    <div id="gio-hang">

                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    {{>cart-total}}
                </div>
            </div>
        </div>
    </div>
</div>

<form name="submit-cart-form">
</form>

<script>
    showListItemCartInnerID('gio-hang');
    showTotalMoney();

    function showTotalMoney() {
        var listItemCart = getListItemCart();
        var totalMoney = 0;
        for (var i = 0; i < listItemCart.length; i++) {
            var money = listItemCart[i].price * listItemCart[i].amount;
            totalMoney += money;
        }
        var moneyTotal = document.getElementById('total-money-show');
        moneyTotal.innerText = '';
        moneyTotal.innerHTML = '<span>' + totalMoney + '<small>.000</small></span>';

        saveTotalOrderMoneyInLocal(totalMoney);
    }

    function submitCart() {
        var submitCartForm = document.forms['submit-cart-form'];
        submitCartForm.action = '/order/address';
        submitCartForm.submit();
    }

    function xoa(id) {
        var nodeCart = document.getElementById(id + 'main');
        nodeCart.parentNode.removeChild(nodeCart);
        deleteItemCartInLocal(id);
        addAmountInnerID('cart-text');
        showTotalMoney();
    }

    // tăng một số lượng của sản phẩm
    function tang(id) {
        var ListItemCart = getListItemCart();
        var sl;
        var price;
        for (var i = 0; i < ListItemCart.length; i++) {
            var itemCart = ListItemCart[i];
            if (itemCart.id == id) {
                itemCart.amount++;
                sl = itemCart.amount;
                price = itemCart.price;
            }
        }
        saveListItemCartInLocal(ListItemCart);

        // lấy ô chứa số lượng
        var nodeCart = document.getElementById(id);

        // Lấy ô chứa tổng tiền
        var totalPrice = document.getElementById(id + 'price');
        price = sl * price;

        // thay đổi giá và số lượng
        totalPrice.innerText = "";
        totalPrice.innerHTML = '<span>' + price + '<small>.000đ</small></span>';
        nodeCart.innerText = "";
        nodeCart.innerText = sl;

        showTotalMoney();
    }

    // giảm một số lượng của sản phẩm
    function giam(id) {
        var ListItemCart = getListItemCart();
        var sl;
        var price;
        for (var i = 0; i < ListItemCart.length; i++) {
            var itemCart = ListItemCart[i];
            if (itemCart.id == id) {
                if (itemCart.amount == 1) {
                    itemCart.amount = 1;
                    sl = itemCart.amount;
                    price = itemCart.price;
                    break;
                }
                itemCart.amount--;
                sl = itemCart.amount;
                price = itemCart.price;
            }
        }
        saveListItemCartInLocal(ListItemCart);

        // lấy ô chứa số lượng
        var nodeCart = document.getElementById(id);

        // Lấy ô chứa tổng tiền
        var totalPrice = document.getElementById(id + 'price');
        price = sl * price;

        // thay đổi giá và số lượng
        totalPrice.innerText = "";
        totalPrice.innerHTML = '<span>' + price + '<small>.000đ</small></span>';
        nodeCart.innerText = "";
        nodeCart.innerText = sl;

        showTotalMoney();
    }
</script>