<div class="container bg-white">
    <!-- Menu order topbar-->
    <div class="row">
        {{>staff/menu-order-confirmed}}
    </div>
    
    <!--side content-->
    <div class="row" style="padding: 25px">
        {{>staff/order-confirmed}}
    </div>
</div>