html, body {
  font-weight: 400;
  color: #707070;
  background: url(https://kfcvietnam.com.vn/templates/images/bg.jpg) repeat top center fixed; }

.container {
  width: 1100px !important;
  max-width: 1100px !important; }

a {
  text-decoration: none !important; }

.bg-white {
  background-color: #fff; }

.bgcolor {
  background: url(../img/bg/backgroud-header.jpg) top center repeat-x;
  width: 100%;
  z-index: 1020; }

.bootstrap-select {
  width: 100% !important; }

.selectpicker {
  width: 100% !important; }

.cart-item {
  padding: 2.222222rem;
  box-shadow: 0px 4px 20px 0px #0000001c;
  border-radius: 0.3333333333333333em;
  margin-bottom: 2.222222222222222em; }

.cart-item-img {
  width: 100px;
  border-radius: 25%; }

.cart-content {
  padding: 2.222222222222222em; }

.logo a img {
  height: 150px;
  padding-right: 200px; }

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 4px; }

.card {
  width: 260px;
  height: 360px;
  margin-bottom: 20px; }

.card-img-top {
  height: 155px; }

.card-button {
  padding: 10px 20px; }

.cart_box {
  position: absolute;
  right: 0;
  top: 100%;
  top: 0; }

.cart-text {
  font-size: 1.2em;
  color: #e4002b;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2; }

.main-sidebar {
  top: 20px;
  left: 0;
  padding-top: 50px;
  min-height: 100%;
  width: 230px; }

ul {
  list-style: none; }

a.menu-function-admin {
  color: red;
  text-decoration: none; }

a.menu-function-admin:hover {
  color: black;
  text-decoration: none; }

.nav-item .nav-link {
  font-size: 1em;
  padding: 0.9722222222222222em;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2; }

.navbar-menu {
  height: 86px; }

.content-wrapper, .right-side, .main-footer {
  height: 800px;
  background-color: #ecf0f5;
  z-index: 820; }

.content {
  min-height: 180px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.content-header {
  background: transparent;
  position: relative;
  padding: 15px 15px 0 15px; }

.content-header > .breadcrumb {
  float: right;
  background: transparent;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  padding: 7px 5px;
  position: absolute;
  top: 15px;
  right: 10px;
  border-radius: 2px; }

.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 1px 1px #707070; }

.box-header.with-border {
  border-bottom: 1px solid #f4f4f4; }

.box-body {
  padding: 10px; }

.menu-food-main {
  color: red;
  text-decoration: none; }

.option-select {
  padding-left: 10px; }

.setup-shipper .setup-shipper-title {
  background: red;
  padding: 15px;
  border-radius: 3px 3px 0px 0px; }

.setup-shipper .setup-shipper-title .setup-shipper-title-large {
  font-size: 14px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 0px; }

.setup-shipper .setup-shipper-content {
  border: 1px solid #efefef;
  border-top: none;
  border-radius: 0px 0px 3px 3px; }

.setup-shipper-content {
  width: 100%; }

.clearfix {
  display: block; }

.setup-shipper .setup-shipper-content .item-policy:first-child {
  border-top: none; }

.setup-shipper .setup-shipper-content .item-policy:first-child {
  border-top: none; }

.setup-shipper .setup-shipper-content .item-policy {
  border-top: 1px solid #efefef;
  padding: 0; }

.setup-shipper .setup-shipper-content .item-policy a {
  text-decoration: none;
  display: block;
  font-size: 14px;
  color: #333333;
  font-weight: normal;
  height: 72px; }

.setup-shipper-content .col-md-12 .child {
  height: 73px;
  padding-left: 60px; }

.setup-shipper .setup-shipper-content .item-policy h4 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #333333;
  font-weight: normal;
  display: block; }

.setup-shipper-content .col-md-12 a h4 {
  height: 74px;
  line-height: 74px; }

.tang {
  padding-left: 5px;
  width: 30px; }

.giam {
  padding-right: 5px;
  width: 30px; }

.sl {
  width: 50px;
  font-size: 20px;
  box-shadow: 0px 3px 6px -1px #7b1c1c45 inset;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 25%;
  margin-top: 5px; }
