<div id="wp-slider">
    <div class="items-slide">
        <div class="owl-carousel owl-theme">
             <div class="item">
                <img src="{{adv.img}}" alt="">
            </div>
            <div class="item">
                <img src="https://kfcvietnam.com.vn/uploads/banner/7d40c83e741b15cff4d2b44b17d06e7c.png" alt="">
            </div>
            <div class="item">
                <img src="https://kfcvietnam.com.vn/uploads/banner/7d40c83e741b15cff4d2b44b17d06e7c.png" alt="">
            </div>
        </div>
    </div>
</div>