<div class="cart-total">
    <div class="row form-group">
        <div class="col-8" style="font-size: 22px; font-weight: bold;">TỔNG TIỀN HÀNG: </div>
        <div class="col-4">
            <div class="float-right" id="total-money-show" style="font-size: 22px; font-weight: bold;">50.000</div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <button style=" width: 100%;" class="btn btn-danger btn-lg" id="btn-submit-cart"
                onclick="submitCart()">THANH TOÁN</button>
            {{!-- <a href="/order/address">
                <button style=" width: 100%;" class="btn btn-danger btn-lg" id="btn-submit-cart">ĐẶT HÀNG</button>
            </a> --}}
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <a href="/"><button style=" width: 100%;" class="btn btn-outline-dark btn-lg">QUAY LẠI THỰC ĐƠN</button></a>
        </div>
    </div>
</div>