<div class="cart-item">
    <div class="row">
        <div class="col-8">

        </div>
        <div class="col-4">
            <div class="float-right">
                <a href=""><i class="far fa-times-circle"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2"><img class="cart-item-img" src="" alt=""></div>
        <div class="col-10"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">Số lượng</div>
        <div class="col-6">70000</div>
    </div>
</div>

