<div class="tygh-footer clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul>
                    <li><a href=""><b>Hỗ trợ khách hàng</b></a></li>
                    <li><a href="">Hướng dẫn mua hàng</a></li>
                    <li><a href="">Hình thức thanh toán</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li><a href=""><b>Cách thức mua hàng</b></a></li>
                    <li>
                        <a href="">Khiếu nại </a>
                        <a href="tel:19006612">
                            <strong class="hot-line">1900.6612</strong>
                        </a>
                    </li>
                    <li>
                        <a href="">Tổng đài mua hàng </a>
                        <a href="tel:19006612">
                            <strong class="hot-line">1900.1267</strong>
                        </a>
                    </li>
                    <li><a href="">Nhận hàng tại nhà</a></li>
                    <li><a href="">Nhận hàng tại cửa hàng</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="card_item">
                    <div class="card_item_header">
                        <a href=""><span>Thực đơn</span></a>
                    </div>
                    <div class="card_item_header">
                        <a href=""><span>Nhà hàng</span></a>
                    </div>
                    <div class="card_item_header">
                        <a href=""><span>Tin khuyến mãi</span></a>
                    </div>
                    <div class="card_item_header">
                        <a href=""><span>Đặt tiệc sinh nhật</span></a>
                    </div>
                    <div class="card_item_header">
                        <a href=""><span>Thành viên</span></a>
                    </div>
                    <div class="card_item_header d-inline-block d-lg-none">
                        <a href=""><span>Giới thiệu</span></a>
                    </div>
                    <div class="card_item_header d-inline-block d-lg-none">
                        <a href="" target="_blank"><span>Nghề nghiệp</span></a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="foot-line">
        <div class="row">
            <div class="col-12">
                <strong>WEBSITE BÁN THỨC ĂN NHANH EIGHT - CHÂU THỊ HÓA</strong>
                <span>Địa chỉ: 180 Cao Lỗ, Phường 4, Quận 8, Tp. Hồ Chí Minh,
                    <br>Điện thoại: (0)385.480.390
                    <br>Email: Pdmquan@gmail.com
                </span>
                <center>Copyright © 2021 EIGHT</center>
            </div>
        </div>
    </div>
</div>
