<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/food/">EIGHT - CHÂU THỊ HÓA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" style="width: 75%;" type="search" placeholder="Bạn muốn ăn gì ?"
                    aria-label="Search" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm</button>
            </form>
        </div>
        <div class="float-right">
            <a href="/login">
                <button class="btn btn-danger">Đăng nhập</button>
            </a>
        </div>
    </div>
</nav>

{{!

<ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img src="https://scontent-xsp1-2.xx.fbcdn.net/v/t1.6435-9/118901290_1794619600696528_6240421038214048093_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=sbOXxE2xAOwAX8Jitv_&_nc_ht=scontent-xsp1-2.xx&oh=b48be90842369afa3b770d088afa5177&oe=60F058EC"
                alt="" class="user-avatar" />
            Minh Quân
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="https://kfcvietnam.com.vn/vi/thanh-vien.html" id="memberInfo"><span
                        class="icon"><img src="https://kfcvietnam.com.vn/templates/images/user_info.svg" /></span><span
                        class="text">Thông tin tài
                        khoản</span></a>
            </li>
            <li>
                <a class="dropdown-item" href="https://kfcvietnam.com.vn/vi/lich-su-don-hang.html"
                    id="memberHistory"><span class="icon"><img
                            src="https://kfcvietnam.com.vn/templates/images/user_history.svg" /></span><span
                        class="text">Lịch sử đơn hàng</span></a>
            </li>
            <li>
                <a class="dropdown-item" href="https://kfcvietnam.com.vn/vi/dia-chi-giao-hang.html"
                    id="memberAddress"><span class="icon"><img
                            src="https://kfcvietnam.com.vn/templates/images/user_location.svg" /></span><span
                        class="text">Địa chỉ giao
                        hàng</span></a>
            </li>
            <li>
                <a class="dropdown-item empty_link" href="javascript:void(0);" id="memberReward"><span class="icon"><img
                            src="https://kfcvietnam.com.vn/templates/images/user_reward.svg" /></span><span
                        class="text">Điểm thưởng</span></a>
            </li>
            <li>
                <a class="dropdown-item" href="https://kfcvietnam.com.vn/vi/thong-bao.html"
                    id="memberNotification"><span class="icon"><img
                            src="https://kfcvietnam.com.vn/templates/images/user_notification.svg" />
                        <i class="number" id="notificationUnread" style="display: none;">0</i>
                    </span><span class="text">Thông báo</span></a>
            </li>
            <li>
                <a class="dropdown-item" href="https://kfcvietnam.com.vn/vi/dang-xuat.html"><span class="icon"><img
                            src="https://kfcvietnam.com.vn/templates/images/user_signout.svg" /></span><span
                        class="text text-uppercase">Đăng xuất</span></a>
            </li>
        </ul>
    </li>
</ul>

}}