<section class="sidebar">
    <div class="setup-shipper">
        <div class="setup-shipper-title">
            <p class="setup-shipper-title-large">MENU MÓN ĂN</p>
        </div>
        <div class="setup-shipper-content clearfix">
            <div class="col-md-12 item-policy">
                <div class="child">
                    <a href="#">
                        <h4>COMBO 1 NGƯỜI</h4>
                    </a>
                </div>
            </div>
            <div class="col-md-12 item-policy">
                <div class="child">
                    <a href="#">
                        <h4>CONBO GIA ĐÌNH</h4>
                    </a>
                </div>
            </div>
            <div class="col-md-12 item-policy">
                <div class="child">
                    <a href="#">
                        <h4>MÓN LẺ</h4>
                    </a>
                </div>
            </div>
            <div class="col-md-12 item-policy">
                <div class="child">
                    <a href="#">
                        <h4>BỮA TRƯA SIÊU TỐC</h4>
                    </a>
                </div>
            </div>
            <div class="col-md-12 item-policy">
                <div class="child">
                    <a href="#">
                        <h4>GIẢI KHÁT/ NƯỚC UỐNG</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>