<section class="sidebar">
    <div class="setup-shipper">
        <div class="setup-shipper-title">
            <p class="setup-shipper-title-large">MENU MÓN ĂN</p>
        </div>
        <div class="setup-shipper-content clearfix">
            {{#foodtype}}
            <div class="col-md-12 item-policy">
                <div class="child">
                    <a href="#">
                        <h4 class="child">{{nameType}}</h4>
                    </a>
                </div>
            </div>
            {{/foodtype}}
        </div>
    </div>
</section>