<section class="sidebar">
    <ul class="sidebar-menu">
        <li class="header"> <h5>QUẢN LÝ CỬA HÀNG</h5> </li>
        <li>
            <a class="menu-function-admin" href="/admin/foodtypelist">
                <div class="row">
                    <div class="col-2"><i class="fab fa-canadian-maple-leaf"></i></div>
                    <div class="col-10">Loại sản phẩm</div>
                </div>
            </a>
        </li>
        <li>
            <a class="menu-function-admin" href="/admin/foodlist">
                <div class="row">
                    <div class="col-2"><i class="fa fa-leaf"></i></div>
                    <div class="col-10">Sản phẩm</div>
                </div>
            </a>
        </li>
        <li>
            <a class="menu-function-admin" href="/admin/adv">
                <div class="row">
                    <div class="col-2"><i class="fab fa-adversal"></i></div>
                    <div class="col-10">Quảng cáo</div>
                </div>
        </li>
        <li>
            <a class="menu-function-admin" href="/admin/news">
                <div class="row">
                    <div class="col-2"><i class="fas fa-newspaper"></i></div>
                    <div class="col-10">Tin tức</div>
                </div>
            </a>
        </li>
    </ul>
</section>