<section class="sidebar">
    <ul class="sidebar-menu">
        <li class="header">QUẢN LÝ CỬA HÀNG</li>
        <li>
            <a class="menu-function-admin" href="/admin/foodlist">
                <i class="fa fa-leaf"></i> Sản phẩm
            </a>
        </li>
        <li>
            <a class="menu-function-admin" href="/admin/foodtypelist">
                <i class="fa fa-leaf"></i> Loại sản phẩm
            </a>
        </li>
    </ul>
</section>